body{
    background-image: url("city.avif");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
h2 { font-size: 3.5rem;
    font-family: "Luxurious Roman", cursive;
    color: darkblue;
    text-shadow: 2px 2px 3px #f8a221e8, 
    2px -2px 3px #f8f7f4, 
    -2px 2px 2px #e7eb13,
     -2px -2px 3px #eff0f3;
    margin: auto;
    width: 20rem;
    margin-top: 1rem;
    padding: 3rem;
    font-size: 35px;
    font-weight: bold;
  
}

.heroes {
    background-color: rgb(224, 241, 241);
    color: rgb(51, 51, 51);
    border: 1px solid red;
    display: inline-block;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    font-weight: bold;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.heroes:hover{
    background-color: rgb(240, 212, 152);
    cursor: pointer;
}

.cities {
    background-color: rgb(224, 241, 241);
    color: rgb(51, 51, 51);
    border: 1px solid red;
    display: inline-block;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    font-weight: bold;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.cities:hover{
    background-color:  rgb(240, 212, 152);
    cursor: pointer;
}
button {
    background-color: #0d183b;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 1.5rem 0.3rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #f79c25;
    -webkit-box-shadow: 3px 3px 10px #ebdd1a;
            box-shadow: 3px 3px 10px #faa507;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 1rem;
  }

